<!DOCTYPE html>

<html lang="en">

<head>
  <%- include('components/head', { selected }) %>
  <link rel="stylesheet" href="styles/discover.css">
  <script src="scripts/carousel-wl.js" defer></script>
  <script src="scripts/add-friends.js" defer></script>
  <script src="scripts/settings.js" defer></script>
</head>

<body>
  <header>
    <%- include('components/header', { selected }) %>
  </header>

  <%- include('components/sidebar') %>

  <div class="button-add-friend">
    <button onclick="ToggleAddFriends()"><span class="material-symbols-rounded"> add </span>Ajouter Amis</button>
  </div>
  <div class="container-carrou">
    <div class="carrou-friends-wl">
        <h1 class="h1-carrou">WatchList des Amis <span class="material-symbols-rounded">chevron_right</span></h1>
        <div class="container-friends-wl">
            <% if (!isfriends) { %>
                <h2>
                    Vous n'avez pas d'amis mais vous pouvez en ajouter ici : <a href="/add-friends">Ajouter des amis</a>
                </h2>
            <% } else if (!iswl) { %>
                <h2>
                    Vos amis n'ont pas de watchlists, dites-leur d'en créer afin de les voir ici.
                </h2>
            <% } else { %>
                <button class="nav-btn nav-left">&#9664;</button>
                <div class="carroussel-wrapper">
                    <% friends.Friends.forEach(f => { %>
                        <% if (wloffriends[f.Username] && wloffriends[f.Username].Watchlist.length > 0) { %>
                            <% wloffriends[f.Username].Watchlist.forEach(element => { %>
                                <div class="container-affiche">
                                    <a href="<%= element.ListURL %>">
                                        <div class="affiche">
                                            <h1><%= element.ListName %></h1>
                                            <h2><%= f.Username %></h2>
                                            <h3><%= element.Updated %></h3>
                                        </div>
                                    </a>
                                </div>
                            <% }); %>
                        <% } %>
                    <% }); %>
                </div>
                <button class="nav-btn nav-right">&#9654;</button>
            <% } %>
        </div>
    </div>
</div>

<div class="container-add-friends" id="seefriendsblock" hidden>
    <div class="settings-container" id="addfriendsblock">
        <div class="friend-search">
            <h1>Rechercher un ami :</h1>
            <input type="text" id="friends-tab">
        </div>
        <button id="AddFriends" onclick="SeeAddFriends()">Ajouter</button> 
        <div class="friends-tab">
            <% friends.Friends.forEach(element => {%>
                <div class="friends">
                    <img src="<%= element.UserProfilePicture === "Default" ? 'https://img.freepik.com/vecteurs-premium/icone-profil-avatar-par-defaut-image-utilisateur-medias-sociaux-icone-avatar-gris-silhouette-profil-vierge-illustration-vectorielle_561158-3467.jpg' : element.UserProfilePicture%>" alt="">
                    <h1> <%= element.Username %> </h1>
                    <h2> <%= element.FirstName %> <%= element.LastName %></h2>
                    <a onclick="location.href='/api/removefriends/<%=user%>/<%=element.Username%>'"> <span class="material-symbols-rounded">person_remove</span> </a>
                </div>
            <%});%>
        </div>
        <div class="ContainerAddFriends" id="AddingFriendsList">
            <div class="AddFriends">
                <h1>Ajouter un ami :</h1>
                <input type="text" id="adding-friends">
                <span class="material-symbols-rounded" onclick="SeeAddFriends()">close</span>
                <div class="listgrid">
                    <% allusers.Users.forEach(element => {%>
                        <% if (element.Username === user) {%>
                            
                        <%} else {%>
                            <div class="userslist">
                                <img src="<%= element.ProfilePicture === "Default" ? 'https://img.freepik.com/vecteurs-premium/icone-profil-avatar-par-defaut-image-utilisateur-medias-sociaux-icone-avatar-gris-silhouette-profil-vierge-illustration-vectorielle_561158-3467.jpg' : element.ProfilePicture%>" alt="">
                                <h1> <%= element.Username %> </h1>
                                <h2> <%= element.FirstName %> <%= element.LastName %></h2>
                                <a onclick="location.href='/api/AddFriends/<%=user%>/<%=element.Username%>'"> <span class="material-symbols-rounded">person_add</span> </a>
                            </div>
                        <%}%>
                    <%});%>
                </div>
            </div>
        </div>
    </div>
    
</div>

  

</body>

</html>